:root {

    --font-family: 'Raleway', sans-serif;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--bg-color);
    color: var(--text-main);
    line-height: 1.6;
    font-family: var(--font-family);
}

.container {
    width: 90%;
    max-width: 1100px;
    margin: 0 auto;
}

.text-center {
    text-align: center;
}

/* --- Animación de Entrada Suave --- */
@keyframes fadeInDown {
    0% { transform: translateY(-30px); opacity: 0; }
    100% { transform: translateY(0); opacity: 1; }
}

/* --- Barra de Navegación (Fondo Azul Oscuro) --- */
.navbar {
    background-color: var(--primary-blue);
    box-shadow: 0 4px 15px rgba(0,0,0,0.15);
    position: sticky;
    top: 0;
    z-index: 100;
    animation: fadeInDown 0.7s ease-out forwards;
}

.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 0;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 1rem;
}

/* --- Botones del Nav (Gradientes solo de Tonos Azules) --- */
.nav-btn {
    text-decoration: none;
    color: #000000;
    font-weight: 600;
    font-size: 0.95rem;
    padding: 8px;
    padding-right: 15px;
    padding-left: 15px;
    border-radius: 10px; /* Estilo píldora moderna */
    background: transparent;
    display: inline-flex;
    align-items: center;
    gap: 0.5rem;
    transition: all 0.4s ease;
}

.nav-btn:hover{
    background: #23487f;
    color: #ffffff;
    box-shadow: 0 10px 22px rgba(35, 72, 127, 0.28);
    transform: translateY(-2px);
    box-shadow: 0 5px 15px ;
    color: #ffffff;
}
.logoheader {
    width: 150px;
    margin-right: 10px; 
    
}